<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:web-services="http://www.springframework.org/schema/web-services"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.2.xsd
		http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- DispatcherServlet Context: defines this servlet's request-processing 
		infrastructure -->

	<!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven />
	<context:annotation-config/>
	<context:component-scan base-package="com.a4.pdf.*" />

	<!-- Resolves views selected for rendering by @Controllers to .jsp resources 
		in the /WEB-INF/views directory -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	</bean>
 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
  		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
  		<property name="url" value="jdbc:sqlserver://192.168.1.10;databaseName=a4pdfpro;" />
     	<property name="username" value="sa" />
  		<property name="password" value="P@$$w0rd123" />
  	</bean>  
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/a4pdfpro" />
		<property name="url" value="jdbc:sqlserver://219.91.244.206;databaseName=a4datapro;" 
			/>
		<property name="username" value="root" />
		<property name="password" value="A4tech$%%ASI" />
	</bean> -->
	
	<bean id="hibernate3AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="annotatedClasses">
			<list>
				<value>com.a4.pdf.entity.POEntity</value>
				<value>com.a4.pdf.entity.VendorDetailsEntity</value>
				<value>com.a4.pdf.entity.InvoiceDetailsEntity</value>
				<value>com.a4.pdf.entity.InvoiceAddressEntity</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop> -->
				  <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop> 
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="show_sql">true</prop>
				<prop key="hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>   
</beans>